.app{
    background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1729229000/image3_1_ac1jk3.jpg");
    /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1729228861/Image_rul5vg.jpg"); */
    /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1726505185/istockphoto-1407983911-612x612_hi0th1.jpg"); */
  background-size: cover;
  opacity: 0.96;
  /* height: 100vh; */
}